.anticon-home svg {
  fill: black;
}
.ant-breadcrumb {
  padding: 10px 0;
}
.body-login {
  background-color: #ffffff;
}
.ant-breadcrumb-link span {
  color: black;
}
.login {
  margin: 40px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img-login {
  width: 53%;
}
.form-input-login {
  width: 35%;
  h1 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 20px;
  }
}
.ant-input {
  margin: 8px 0;
}
.login-form-button {
  margin-right: 10px;
}
.ant-row {
  align-items: baseline;
}
.ant-input {
  margin-top: 0;
}
